<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Products</h1>
        <h2>View product aver ID</h2>
            <p>

               RODUCT ID -
               <span th:text="${id}">  </span>
                <br>
                PRODUKT AVERAGE BALL --
                <span th:text="${ball}">  </span>
            </p>

        <a href="/products">Home</a>
    </body>
</html>