<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>User registration form</title>
</head>
<body>
<main>
    <h1>Create user</h1>
    <form th:object="${friend}"
          th:action="@{/friend}"
          method="post">
        <div>
            <label for="firstName">First name</label>
            <input id="firstName" type="text"
                   th:field="*{firstName}"/>
            <p style="color: red" th:if="${#fields.hasErrors('firstName')}"
               th:text="${#strings.listJoin(#fields.errors('firstName'), ', ')}"></p>
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input id="lastName" type="text"
                   th:field="*{lastName}"/>
            <p style="color: red" th:if="${#fields.hasErrors('lastName')}"
               th:text="${#strings.listJoin(#fields.errors('lastName'), ', ')}"></p>
        </div>
        <div>
            <label for="birthday">Age</label>
            <input id="birthday" type="date"
                   th:field="*{birthday}"/>
            <p style="color: red" th:if="${#fields.hasErrors('birthday')}"
               th:text="${#strings.listJoin(#fields.errors('birthday'), ', ')}"></p>
        </div>
        <button type="submit">Create user</button>
    </form>
</main>

<a href="../../">Home</a>
</body>
</html>
