<component name="ArtifactManager">
  <artifact type="war" external-system-id="Maven" name="SpringLoto:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringLoto</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringLoto.war">
      <element id="artifact" artifact-name="SpringLoto:war exploded" />
    </root>
  </artifact>
</component>